.card-img-top {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-img-cont {
    height: 100%;
    width: 100%;
}

.card-body {
    border: solid black;
} 

#work {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width: 600px) {
    #work {
        display: flex;
        flex-direction: column;
    }

}