.i {
    display: flex;
    height: 80vh;
    background-color: black;
  }
  
  .i-left {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-right {
    flex: 1;
  }
  
  .i-left-wrapper {
    padding: 10px 20px;
    height: fit-content;
    background-color: #CCCCFF;
}

h5 {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}
  
.i-intro {
  font-weight: 300;
  margin: 0;
}
  
  .i-name {
    font-size: 30px;
  }
  
  .i-title {
    height: 50px;
    overflow: hidden;
  }
  
  .i-title-wrapper {
    height: 100%;
    animation: move 8s ease-in-out infinite alternate;
  } 
 
  .i-desc {
    font-weight: bold;
    font-size: 0.8rem;
    box-sizing:inherit;
}
  
  @keyframes move {
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-100px);
    }
    75% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(-200px);
    }
  }
  
  .i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
  }
  
  .i-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  @media screen and (max-width: 600px) {
    .i {
      flex-direction: column;
    }

    .i-title-item {
      justify-content: center;
    }

    .i-right {
      display: none;
  }

    .i-left-wrapper {
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      /* height: 100%; */
    }
  }